.footer-container{
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #25a769;
}
.footerImagesContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.footerFlower{
    height: 8vh;
}
.followUs{
    text-align: center;
    color: #dfd94b;
    font-family: sans-serif;
    font-size: larger;
    margin-top: 5px;
    margin-bottom: 0px;
}
.yellowDecorativeLine{
    width: 100%;
    margin: 0px;
}
.icon{
    margin: 5px;
}